aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
cffi
charset-normalizer
click
cryptography
dataclasses-json
distro
dnspython
email_validator
exceptiongroup
fastapi==0.116.1
frozenlist
git-filter-repo
grpcio
h11
h2
hpack
httpcore
httpx
httpx-sse
hyperframe
idna
jiter
jsonpatch
jsonpointer
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.71
langchain-openai==0.3.28
langchain-qdrant==0.2.0
langchain-text-splitters==0.3.8
langsmith==0.4.8
lxml
marshmallow
multidict
mypy_extensions
numpy
openai==1.95.0
orjson
packaging
pdfminer.six
pdfplumber
pillow
portalocker
propcache
protobuf
pycparser
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pypdfium2
python-docx
python-dotenv
python-multipart
PyYAML
qdrant-client==1.14.3
regex
requests
requests-toolbelt
sniffio
SQLAlchemy==2.0.41
starlette==0.47.1
tenacity
tiktoken
tqdm
typing-inspect
typing-inspection
typing_extensions
urllib3
uvicorn==0.35.0
yarl
zstandard
